
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
      "... hello ..." 
      "... clock ..."
      "todo todo todo"
      "... cal ..."
      "... calc ...";
  grid-row-gap: 10px;
  background-image: url(./BlancoRiverSunset.jpg);
  height: auto;
  width: auto;
  padding: 10px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
  }

/*Motivational Speech!*/
.hello {
  grid-area: hello;
  width: 100%;
  justify-self: center;
}
.hello a {
  text-decoration: none;
  color: black;
}
.hello h2 {
  font-size: 24px;
  background-color: rgb(25, 194, 157);
}

/*To Do*/
.todo {
  grid-area: todo;
  background-color: rgb(1,1,1,0.7);
  border-radius: 10px;
  width: 50%;
  justify-self: center;
  padding: 5px;
  margin: 10px;
  border: 1.5px solid rgb(25, 194, 157);
  }
h2 {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 14px;
  background-color: rgb(230, 152, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
ol {
  list-style: none;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  color: rgb(242, 247, 221)
}
input[type=text] {
  width: 100%;
 margin-bottom: 4px;
}
.todo p {
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  text-align: center;
  color:rgb(230, 152, 121);
  padding: none;
}
.doIt{
  background-color: rgb(25, 194, 157);
  border: none;
  color: white;
  font-size: 14px;
  font-family: 'Homemade Apple', cursive;
  
  
  width: 100%;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Calculator*/
.calc {
  grid-area: calc;
  background-color: rgb(1,1,1,0.7);
  border: 1.5px solid rgb(25, 194, 157);
  border-radius: 10px;
  min-width: 20%;
  justify-self: center;
  padding: 5px;  
  }
.row {
  display: flex;
  justify-content: center;
  align-items: stretch; 
}
.row button {
  border: 0;
  width: 5ch;
  height: 5ch;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(25, 194, 157);
  font-family: 'Special Elite', cursive;
}
.row button:hover,
.row button:focus {
  outline: none;
  background-color: rgb(230, 152, 121);
  color: #373d44;
}
.screen {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.screen p {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 12px;
  width: 100%;
  background-color: rgb(230, 152, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 4px; 
}
.screen input[type=text] {
  background-color:rgb(242, 247, 221, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5%
}

/*Calendar*/
.cal {
  grid-area: cal;
  min-width: 50%;
  justify-self: center;
  padding: 5px;
  margin: 10px;
  background-color: rgb(1,1,1,0.7);
  border-radius: 10px;
  font-family: 'Rock Salt', cursive;
  border: 1.5px solid rgb(25, 194, 157);
  }
.month-indicator {
  background-color: rgb(230, 152, 121);
  text-align: center;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: rgb(25, 194, 157);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 6;
}

/* Style for each day */
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(25, 194, 157);
  font-family: 'Special Elite', cursive;
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: rgb(230, 152, 121);
  color: #373d44;
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: #373d44;
  color: rgb(25, 194, 157);
}

/*Clock code from https://codepen.io/Trikaal/pen/eYOegxm. Is this ok to do, use something from codepen? 
I changed the fonts, colors, backgrounds, and some of the layout to make it work with my grid.*/
.clock {
  grid-area: clock;
  justify-self: center;
}
section.jsDigitalClock{
    padding: 10px 0;
    width: 75vw;
  }
  section.jsDigitalClock h2{
    font-family: 'Satisfy', cursive;
    font-weight: 700;
  }
  section.jsDigitalClock p{
    font-family: 'Bad Script', cursive;
    font-weight: 400;
  }
  section.jsDigitalClock .rowHead .col-md-12{
    text-align: center;  
  }
  section.jsDigitalClock #dClock {
    width: 100%;
    border: 1.5px solid rgb(25, 194, 157);
    border-radius: 10px;
    padding: 5px;
  }
  
  section.jsDigitalClock #dClockTime {
   
    background-color: #373d44;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  
  section.jsDigitalClock #dClockTime span.dText {
    color: #DEE2E6;
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 1px;
  }

  section.jsDigitalClock #dClockTime .meridiem {
      text-transform: lowercase;
  }
  
  section.jsDigitalClock #dClockTime span.dTime {
    font-family: 'Rock Salt', cursive;
    font-weight: 700;
    font-size: 36px;
    display: block;
    color: #DEE2E6;
    letter-spacing: 1px;
    text-align: center;
    width: 65px;
    line-height: 1;
  }
  
  section.jsDigitalClock #dClockTime span.colon {
    margin: 15px 5px 0;
    font-family: 'Homemade Apple', cursive;
    font-weight: 700;
    font-size: 52px;
    line-height: 1;
    color: #DEE2E6;
  }
  
  section.jsDigitalClock #dClockTime:after {
    clear: both;
    display: block;
    content: '';
  }
  
  section.jsDigitalClock #dClockDate {
    
    padding: 15px 10px;
    border: 1px solid rgb(25, 194, 157);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: rgb(1,1,1,0.5);
  }
  
  section.jsDigitalClock #dClockDate span {
    font-family: 'Special Elite', cursive;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(230, 152, 121);
    
  }

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  body{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
      "hello hello hello" 
      "clock clock cal"
      "todo todo calc"
      ;
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  body{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
      "hello hello hello hello" 
      "clock clock cal cal"
      "todo todo calc calc"
      ;
  }
  .doit {
    font-size: 20px;
  }
}