* {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". logo ."
    ". nav ."
    "splash splash splash"
    ". pics ."
    "footer footer footer";
    font-family: 'Arimo', sans-serif;
    
}

/*head bit*/
.logo {
    
    grid-area: logo;
    justify-self: center;
    font-family: 'Pacifico', cursive;
}
.logo h1 {
    font-size: 24px;
}
.must {
    transform: rotate(90deg);
    font-weight: bold;
    font-size: 80px;
    text-align:center;
}
.logo p {
    padding: 2%;
    margin: 2%;
}
nav {
  grid-area: nav;
  display:flex;
  justify-content: center; 
  width: 100%; 
}
nav a {
    padding: 3%;
    text-transform: capitalize;
    font-weight: bold;
}

/*main bit*/
.splash {
    grid-area: splash;
    display: flex;
    justify-content: flex-end;
    background-image: url("./img/splashBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 2% 0;
    
}
.words { 
    padding: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.words span {
    background-color: black;
    color: white;
    padding: 2%;
    margin: 2%;
}
.words h1 {
    background-color: white;
    padding: 2%;
    text-align: center;
    font-family: 'Ultra', serif;
}
button {
    margin-right: 40%;
    padding: 10px 10px;
    background-color: #45d3bb;
    color: white;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

/*baby gallery*/
.pics {
    grid-area: pics;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2% 0;
    padding: 2%;
}
.pics img {
    width: 296px;
    height: 238px;
    border: 2px black solid;
}
a {
    text-decoration: none;
    color: black;
}
.pics a p {
    font-family: 'Ultra', serif;
}
/*foot bit*/
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
    padding: 2%;
    background-color: black;
    color: white;
}
.social a {
    border: 2px solid black;
    padding: 3px;
    margin: 3px;
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    body {
        grid-template-areas: 
    ". logo ."
    ". nav ."
    ". splash ."
    ". pics ."
    ". footer .";
    }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
    body {
        grid-template-areas: 
    ". logo ."
    "nav nav nav"
    "splash splash splash"
    "pics pics pics"
    "footer footer footer";
    }

    .pics {
        flex-direction: row;
    }
}