/* Let's get this party started */
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "hello hello hello"
    "... geo ..."
    "... clock ..."
    "... todo ..."
    "... cal ..."
    "... calc ..."
    "... par ...";
  grid-row-gap: 10px;
  background-image: url(../img/BlancoRiverSunset.jpg);
  height: auto;
  width: auto;
  padding: 10px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

/*Motivational Speech!*/
.hello {
  grid-area: hello;
}
.hello a {
  text-decoration: none;
}

/*To Do*/
.todo {
  grid-area: todo;
  background-color: rgb(1, 1, 1, 0.7);
  border-radius: 10px;
  width: 50%;
  justify-self: center;
  padding: 10px;
  margin: 10px;
}
h2 {
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 14px;
  background-color: rgb(230, 152, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
ul {
  list-style: none;
  font-family: "Rock Salt", cursive;
  font-size: 12px;
  color: rgb(242, 247, 221);
  text-align: center;
}
input[type="text"] {
  width: 100%;
  margin: 4px 2px;
  background-color: rgb(242, 247, 221, 0.5);
  color: rgb(242, 247, 221);
}
.todo p {
  font-family: "Rock Salt", cursive;
  font-size: 12px;
  text-align: center;
  color: rgb(230, 152, 121);
  padding: none;
}

.doIt {
  background-color: rgb(25, 194, 157);
  border: none;
  color: rgb(242, 247, 221);
  font-size: 20px;
  font-family: "Homemade Apple", cursive;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#newItemButton {
  display: none;
}

/*Calculator*/
.calc {
  grid-area: calc;
  background-color: rgb(1, 1, 1, 0.7);
  border-radius: 10px;
  min-width: 20%;
  justify-self: center;
  padding: 10px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.row button {
  border: 0;
  width: 5ch;
  height: 5ch;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(25, 194, 157);
  font-family: "Special Elite", cursive;
}
.row button:hover,
.row button:focus {
  outline: none;
  background-color: rgb(230, 152, 121);
  color: #373d44;
}
.screen {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}
.screen p {
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 12px;
  background-color: rgb(230, 152, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.screen input[type="text"] {
  background-color: rgb(242, 247, 221, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5%;
}

/*Calendar*/
.cal {
  grid-area: cal;
  min-width: 50%;
  justify-self: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(1, 1, 1, 0.7);
  border-radius: 10px;
  font-family: "Rock Salt", cursive;
}
.month-indicator {
  background-color: rgb(230, 152, 121);
  text-align: center;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: rgb(25, 194, 157);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}

/* geolocation */
.geo {
  grid-area: geo;
  display: flex;
  justify-self: center;
  background-color: rgb(1, 1, 1, 0.7);
  color: rgb(242, 247, 221);
  border-radius: 10px;
  font-family: "Rock Salt", cursive;
  font-size: 0.5em;
  min-width: 15%;
  padding: 10px;
  margin: 10px;
}
.geo p {
  padding: 0%;
  color: rgb(242, 247, 221);
}
.geo span {
  color: rgb(25, 194, 157);
}

/* Parrot Party! */
.stress {
  grid-area: 8/2/9/3;
  background-color: rgb(1, 1, 1, 0.7);
  border-radius: 10px;
  font-family: "Rock Salt", cursive;
  font-size: 12px;
}
.parrot {
  margin: 2%;
  text-align: center;
  background-color: rgb(230, 152, 121);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.party {
  display: flex;
  flex-wrap: wrap;
}
/* all them dancin' parrots! */
#gif {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.parrot-1 {
  background-image: url(../img/gif/christmasparrot.gif);
}
.parrot-2 {
  background-image: url(../img/gif/coffeeparrot.gif);
}
.parrot-3 {
  background-image: url(../img/gif/dealwithitparrot.gif);
}
.parrot-4 {
  background-image: url(../img/gif/donutparrot.gif);
}
.parrot-5 {
  background-image: url(../img/gif/gentlemanparrot.gif);
}
.parrot-6 {
  background-image: url(../img/gif/githubparrot.gif);
}
.parrot-7 {
  background-image: url(../img/gif/harrypotterparrot.gif);
}
.parrot-8 {
  background-image: url(../img/gif/headsetparrot.gif);
}
.parrot-9 {
  background-image: url(../img/gif/icecreamparrot.gif);
}
.parrot-10 {
  background-image: url(../img/gif/inverseparrot.gif);
}
.parrot-11 {
  background-image: url(../img/gif/jediparrot.gif);
}
.parrot-12 {
  background-image: url(../img/gif/laptop_parrot.gif);
}
.parrot-13 {
  background-image: url(../img/gif/michaeljacksonparrot.gif);
}
.parrot-14 {
  background-image: url(../img/gif/mustacheparrot.gif);
}
.parrot-15 {
  background-image: url(../img/gif/parrotnotfound.gif);
}
.parrot-16 {
  background-image: url(../img/gif/picassoparrot.gif);
}
.parrot-17 {
  background-image: url(../img/gif/sherlockholmesparrot.gif);
}
.parrot-18 {
  background-image: url(../img/gif/sleepingparrot.gif);
}
.parrot-19 {
  background-image: url(../img/gif/stableparrot.gif);
}
.parrot-20 {
  background-image: url(../img/gif/thumbsupparrot.gif);
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
}
/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 6;
}
/* Style for each day */
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: rgb(25, 194, 157);
  font-family: "Special Elite", cursive;
}
.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: rgb(230, 152, 121);
  color: #373d44;
}
.date-grid button:active,
.date-grid button.is-selected {
  background-color: #373d44;
  color: rgb(25, 194, 157);
}

/*Clock code from https://codepen.io/Trikaal/pen/eYOegxm. 
I changed the fonts, colors, backgrounds, and some of the layout to make it work with my grid.*/
.clock {
  grid-area: clock;
}

section.jsDigitalClock {
  padding: 10px 0;
  width: 75vw;
}
section.jsDigitalClock h2 {
  font-family: "Satisfy", cursive;
  font-weight: 700;
}
section.jsDigitalClock p {
  font-family: "Bad Script", cursive;
  font-weight: 400;
}
section.jsDigitalClock .rowHead .col-md-12 {
  text-align: center;
}
section.jsDigitalClock #dClock {
  width: 100%;
  border: 4px solid rgb(25, 194, 157);
  border-radius: 10px;
  padding: 5px;
}
section.jsDigitalClock #dClockTime {
  background-color: #373d44;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
section.jsDigitalClock #dClockTime span.dText {
  color: rgb(242, 247, 221);
  text-transform: uppercase;
  font-family: "Special Elite", cursive;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px;
}
section.jsDigitalClock #dClockTime .meridiem {
  text-transform: lowercase;
}
section.jsDigitalClock #dClockTime span.dTime {
  font-family: "Rock Salt", cursive;
  font-weight: 700;
  font-size: 36px;
  display: block;
  color: rgb(242, 247, 221);
  letter-spacing: 1px;
  text-align: center;
  width: 65px;
  line-height: 1;
}
section.jsDigitalClock #dClockTime span.colon {
  margin: 15px 5px 0;
  font-family: "Homemade Apple", cursive;
  font-weight: 700;

  font-size: 52px;
  line-height: 1;
  color: rgb(242, 247, 221);
}
section.jsDigitalClock #dClockTime:after {
  clear: both;
  display: block;
  content: "";
}

section.jsDigitalClock #dClockDate {
  padding: 15px 10px;
  border: 1px solid rgb(25, 194, 157);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: rgb(1, 1, 1, 0.5);
}
section.jsDigitalClock #dClockDate span {
  font-family: "Special Elite", cursive;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(230, 152, 121);
}
