body {
    background-color: #3d3b3b;
}

.container {
    margin: 2% 50%;
}

.big {
    width: 50px;
    height: 50px;
    -webkit-transition: 5s linear;
    -moz-transition: 5s linear;
    -o-transition: 5s linear;
    -ms-transition: 5s linear;
    transition: 5s linear;
}

.container:hover .big {
    background-color: rgb(106, 106, 114);
    -webkit-transform: scale(2,2) translate(300px) rotate(360deg);
    -moz-transform: scale(2,2) translate(300px) rotate(360deg);
    -o-transform: scale(2,2) translate(300px) rotate(360deg);
    -ms-transform: scale(2,2) translate(300px) rotate(360deg);
    transform: scale(2,2) translate(300px) rotate(360deg);
    border-radius: 30px;
}

.small {
    width: 50px;
    height: 50px;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -o-transition: 5s;
    -ms-transition: 5s;
    transition: 5s;
    border-radius: 30px;
}

.container:hover .small{
    -webkit-transform: scale(0.5,0.5) translate(-500px) rotate(-4680deg);
    -moz-transform: scale(0.5,0.5) translate(-500px) rotate(-4680deg);
    -o-transform: scale(0.5,0.5) translate(-500px) rotate(-4680deg);
    -ms-transform: scale(0.5,0.5) translate(-500px) rotate(-4680deg);
    transform: scale(0.5,0.5) translate(-500px) rotate(-360deg);
    background-color: rgb(150, 142, 129);
    border-radius: 0px;
}

.c1 {
    background-color: green;
}
.c2 {
    background-color: yellowgreen;
}
.c3 {
    background-color: yellow;
}
.c4 {
    background-color: orange;
}
.c5 {
    background-color: orangered;
}
.c6 {
    background-color: red;
}
.c7 {
    background-color: indianred;
}
.c8 {
    background-color: palevioletred;
}
.c9 {
    background-color: violet;
}
.c10 {
    background-color: purple;
}
.c11 {
    background-color: indigo;
}
.c12 {
    background-color: navy;
}