body {
  background-image: url("../img/RockyMountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

/*The global header setttings*/
header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  width: 30%;
}

.has-border {
  margin: 2%;
  height: 8%;
  width: 100%;
  padding: 0;
  color: rgb(25, 194, 157);
  font-family: "Rock Salt", cursive;
  font-size: 0.75em;
  border-radius: 25px;
  background: rgb(1, 1, 1, 0.4);
  text-align: center;
  border: 2px solid rgb(242, 247, 221);
}
/*main*/
main {
  margin: 5%;
  margin-top: 0;
  padding: 2%;
}
/*banner*/
.banner {
  position: relative;
  background-image: linear-gradient(
    45deg,
    rgb(25, 194, 157, 0.8),
    rgb(230, 152, 121, 0.8)
  );
  border: 2px solid rgb(242, 247, 221);
  transform: skewY(-11deg);
}

.banner:before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, #654ea3, #eaafc8);
  transform: skewY(-11deg);
}

h1 {
  color: rgb(242, 247, 221);
  font-family: "Satisfy", cursive;
  font-size: 2em;
  text-align: center;
}

/*The project gallery*/
.gallery {
  position: relative;
  display: grid;
  grid-template-areas:
    "book dash must"
    "hanoi roll nasa";
  grid-template-columns: repeat(3, 1fr);
  margin: 3% 2%;
  width: 95%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgb(25, 194, 157, 0.7),
    rgb(230, 152, 121, 0.7)
  );
  border: 2px solid rgb(242, 247, 221);
  transform: skewY(-11deg);
}

.galWrap {
  position: relative;
  max-width: 50em;
  margin: 7% 1%;
  transform: skewY(11deg);
  padding: 2%;
}

.gallery img {
  width: 80%;
  margin: 2%;
  padding: 2%;
  border: 1px solid rgb(242, 247, 221);
}

.book {
  grid-area: book;
}
.dash {
  grid-area: dash;
}
.mustacchio {
  grid-area: must;
}
.hanoi {
  grid-area: hanoi;
}
.roll {
  grid-area: roll;
}
.nasa {
  grid-area: nasa;
}

/*Footer stuff*/
footer {
  margin: 2%;
  padding: 1%;
  background-image: linear-gradient(
    45deg,
    rgb(25, 194, 157, 0.7),
    rgb(230, 152, 121, 0.7)
  );
  border: 2px solid rgb(242, 247, 221);
}

h2 {
  font-style: italic;
  color: rgb(242, 247, 221);
  font-family: "Rock Salt", cursive;
  text-align: center;
}

#social {
  width: 60%;
  background-color: rgb(230, 152, 121, 0.5);
  color: rgb(242, 247, 221);
  border: 2px solid rgb(25, 194, 157);
  border-radius: 25px;
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 1em;
}

#social a {
  padding: 2%;
  color: rgb(242, 247, 221);
}
