body {
  background-image: url(../img/CaprockCanyon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/*top bits*/
header {
  display: grid;
  grid-template-areas: 'logo' 'nav';
  width: 100%;
  margin-bottom: 2%;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;  
}

.has-border {
  padding: 2%;
  color: rgb(25, 194, 157);
  font-family: "Rock Salt", cursive;
  font-size: 0.75em;
  border-radius: 25px;
  background: rgb(1, 1, 1, 0.4);
  text-align: center;
  border: 2px solid rgb(242, 247, 221);
}

.logo {
  grid-area: logo;
  width: 70%;
  margin: 1%;
}

/*main bits*/

main {
  height: 100%;
  width: 70%;
  display: grid;
  margin-top: 3%;
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 15%;
  margin: auto;
  animation-duration: 7s;
}

h1 {
  color: rgb(230, 152, 121);
  margin: 3% auto;
  text-decoration: underline rgb(25, 194, 157);
  font-family: "Satisfy", cursive;
  font-size: 72px;
}

h2 {
  margin: 3% auto;
  font-style: italic;
  color: rgb(242, 247, 221);
  font-family: "Rock Salt", cursive;
}

.btn-port {
  margin: 3% auto;
  width: auto;
  height: 50%;
  font-size: 20px;
  border: 2px solid rgb(25, 194, 157);
  border-radius: 25px;
  background: rgb(1, 1, 1, 0.4);
  padding: 20px;
  text-align: center;
  color: rgb(242, 247, 221);
  letter-spacing: 16px;
  font-family: "Special Elite", cursive;
}

/* Large and up (Desktops) */
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  button {
    padding-bottom: 10%;
  }
}

/* Medium and up (Tablets) */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  nav > a {
    font-size: 14px;
  }

  button {
    padding-bottom: 10%;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }
  #gold-pic {
    width: 200px;
    height: 200px;
  }
}
/* Small and up (Landscape Phones) */
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  nav > a {
    font-size: 14px;
  }

  button {
    padding-bottom: 10%;
  }
}
