body {
  background-image: url(../img/CaprockCanyon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100vh;
    width: 100vw;*/
}

/*top bits*/
header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  width: 30%;
  margin-bottom: 3%;
}

.has-border {
  margin: 2%;
  height: 8%;
  width: 100%;
  padding: 0;
  color: rgb(25, 194, 157);
  font-family: "Rock Salt", cursive;
  font-size: 0.75em;
  border-radius: 25px;
  background: rgb(1, 1, 1, 0.4);
  text-align: center;
  border: 2px solid rgb(242, 247, 221);
}

.test {
  animation: flipInX 3s, flipOutX 3s 2s;
}

.logo {
  width: auto;
  height: 100%;
  margin: 1% auto;
  grid-row: 2;
  animation-duration: 4s;
}

/*main bits*/

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: -5%;
}

#profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 15%;
  margin: 15% auto;
  grid-column: 2/3;
  animation-duration: 7s;
}

#gold-pic {
  width: 300px;
  height: 300px;
  border-radius: 15%;
  margin: 15% auto;
  grid-column: 2/3;
  animation-duration: 8s;
}

@-webkit-keyframes goldOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    width: 0;
    height: 0;
  }
}

@keyframes goldOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    width: 0;
    height: 0;
  }
}

.goldOut {
  -webkit-animation-name: goldOut;
  animation-name: goldOut;
}

h1 {
  color: rgb(230, 152, 121);
  grid-column: 2/3;
  margin: 3% auto;
  text-decoration: underline rgb(25, 194, 157);
  font-family: "Satisfy", cursive;
  font-size: 72px;
}

h2 {
  grid-column: 2/3;
  margin: 3% auto;
  font-style: italic;
  color: rgb(242, 247, 221);
  font-family: "Rock Salt", cursive;
}

button {
  grid-column: 2/3;
  margin: 3% auto;
  width: auto;
  height: 50%;
  font-size: 20px;
  border: 2px solid rgb(25, 194, 157);
  border-radius: 25px;
  background: rgb(1, 1, 1, 0.4);
  padding: 20px;
  padding-bottom: 7%;
  text-align: center;
  color: rgb(242, 247, 221);
  letter-spacing: 16px;
  font-family: "Special Elite", cursive;
}

/* Large and up (Desktops) */
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  button {
    padding-bottom: 10%;
  }
}

/* Medium and up (Tablets) */
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  nav > a {
    font-size: 14px;
  }

  button {
    padding-bottom: 10%;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }
  #gold-pic {
    width: 200px;
    height: 200px;
  }
}
/* Small and up (Landscape Phones) */
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  nav > a {
    font-size: 14px;
  }

  button {
    padding-bottom: 10%;
  }
}
