body {
    
    background-image: url(../img/CaprockCanyon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100vh;
    width: 100vw;*/
  }
  
  .logo {
    width: auto;
    height: 100%;
    margin: 3% auto;
    grid-row: 2;
  }

  /*I learned more about grid, and switched to fr for units. Made it easier to get things to align and then realign as screen size changed.*/
  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  nav {
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 5%;
  }

.has-border {
    margin: 2%;
    height: 8%;
    width: 100%;
    padding: 0;
    color: rgb(25, 194, 157);
    font-family:'Rock Salt', cursive;
    font-size: .75em;
    border-radius: 25px;
    background: rgb(1,1,1,0.4);
    text-align: center;
    border: 2px solid rgb(242, 247, 221);
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:rgb(230, 152, 121);
    grid-column: 2/3;
    margin: 3% auto;
    text-decoration: underline rgb(25, 194, 157);
    font-family: 'Satisfy', cursive;
    font-size: 72px;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    color: rgb(242, 247, 221);
    font-family: 'Rock Salt', cursive;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: auto;
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid rgb(25, 194, 157);
    border-radius: 25px;
    background: rgb(1,1,1,0.4);
    padding: 20px; 
    padding-bottom: 7%;
    text-align: match-parent;
    color: rgb(242, 247, 221);
    letter-spacing: 16px;
    font-family: 'Special Elite', cursive;
  }

  /* Large and up (Desktops) */
@media (max-width: 992px) {
  h1 {
    font-size: 48px;
  }

  button {
    padding-bottom: 10%;
  }
}

  /* Medium and up (Tablets) */
@media (max-width: 768px) {
  h1 {
      font-size: 36px;
    }

    nav > a {
      font-size: 14px;
    }

    button {
      padding-bottom: 10%;
    }

    #profile-pic {
      width: 200px;
      height: 200px;
    }
    
}
  /* Small and up (Landscape Phones) */
  @media (max-width: 576px) {
   
    h1 {
      font-size: 24px;
    }

    nav > a {
      font-size: 14px;
    }

    button {
      padding-bottom: 10%;
    }

}

