body {
  background-image: linear-gradient(45deg, #741fad, #eaafc8);
  background-repeat: no-repeat;
  background-size: cover;
}

.errything {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  margin: 5%;
}

h1 {
  font-size: 3em;
  margin: 5%;
  background: -webkit-linear-gradient(rgb(238, 238, 238), rgb(51, 51, 51));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "tl tm tr"
    "ml mm mr"
    "bl bm br";
  width: 500px;
  height: 500px;
  justify-content: center;
  margin: 10%;
}

.ttt {
  width: 200px;
  height: 200px;
  background-color: #2e275a;
  color: white;
  font-size: 200px;
}

#topL {
  grid-area: tl;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#topM {
  grid-area: tm;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#topR {
  grid-area: tr;
  border-bottom: 2px white solid;
}
#midL {
  grid-area: ml;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#midM {
  grid-area: mm;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#midR {
  grid-area: mr;
  border-bottom: 2px white solid;
}
#botL {
  grid-area: bl;
  border-right: 2px white solid;
}
#botM {
  grid-area: bm;
  border-right: 2px white solid;
}
#botR {
  grid-area: br;
}

button {
  margin: 20%;
  border: none;
  background-color: fuchsia;
  color: black;
  width: 3em;
  font-size: 2em;
}

button:focus {
  background-color: cyan;
}
