.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #2e275a;
  justify-content: center;
}

.ttt {
  width: 50%;
  height: 500px;
  background-color: deepskyblue;
}

#topL {
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#topM {
  border-right: 2px white solid;
  border-bottom: 2px white solid;
}
#topR {
  border-bottom: 2px white solid;
}
#midL {
}
#midM {
}
#midR {
}
#botL {
}
#botM {
}
#botR {
}
